IRODS_SERVICE_PORT=1247
IRODS_CONTROL_PORT=1248
IRODS_RANGE_FROM=20000
IRODS_RANGE_TILL=20199
IRODS_ZONE=tempZone
IRODS_USER=irods
IRODS_PASS=password
IRODS_TRANSPORT_FROM=20000
IRODS_TRANSPORT_TILL=20199
IRODS_SERVICE_NAME=rods
IRODS_SERVICE_GROUP=shadow
IRODS_AUTH=pam_interactive
# or IRODS_AUTH=pam_password