LDAP_HOST=ldaps://ldap.sram.surf.nl
LDAP_BASE_DN=dc=flat,dc=<SRAM shortname of your connected service>,dc=services,dc=sram,dc=surf,dc=nl
LDAP_BIND_DN=cn=admin,dc=<SRAM shortname of your connected service>,dc=services,dc=sram,dc=surf,dc=nl
LDAP_ADMIN_PASSWORD=<REDACTED>
LDAP_MODE=IP_V4_ONLY
