SRAM_FLOW=TOKEN

# set this parameters for SRAM_FLOW=TOKEN
SRAM_URL=https://sram.surf.nl
SRAM_API=<<< SRAM Service API Token >>>

# set this parameters for SRAM_FLOW=OIDC
SRAM_OIDC_CLIENT_ID=<<< SRAM OIDC client id >>>
SRAM_OIDC_CLIENT_SECRET=<<< SRAM OIDC client secret >>>
SRAM_OIDC_REDIRECT_URI=<<< SRAM OIDC redirect uri >>>
SRAM_OIDC_AUTHORIZATION_EP=https://proxy.sram.surf.nl/saml2sp/OIDC/authorization
SRAM_OIDC_RESPONSE_TYPE=code
SRAM_OIDC_SCOPE=openid offline_access email eduperson_principal_name
SRAM_OIDC_ACCESS_TYPE=offline
SRAM_OIDC_PROMPT=consent
SRAM_OIDC_TOKEN_EP=https://proxy.sram.surf.nl/OIDC/token
SRAM_OIDC_INTROSPECT_URL=https://proxy.sram.surf.nl/OIDC/userinfo
SRAM_OIDC_RESULT_FIELD=/eduperson_principal_name/0
